@import '../Helpers/mixin';
@import '../Helpers/variabler';

//Fuld navigation

.navigation {

    text-align: center;

    @media (width < $large) {
        display: none;
    }

    .ulwrapper {
        display: block;
        margin: auto;


        li {
            display: inline-block;
            padding: 1vw;
            margin: 1em;
            text-align: center;
            background-color: #fff;
            border-radius: 1em;

            &:hover {
                cursor: pointer;
                -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
                animation: pulsate-fwd 0.5s ease-in-out infinite both;
            }

            a {
                text-decoration: none;
                font-size: 17pt;
                color: #F4D4C9;
                -webkit-text-fill-color: #F4D4C9;
                -webkit-text-stroke-width: 0.2px;
                -webkit-text-stroke-color: rgb(220, 129, 129);


                &:hover {
                    cursor: pointer;

                }
            }

        }
    }
}


@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

//Størrelse og placering af wrapper
.burgerMenu {
    position: absolute;
    width: 5vw;
    height: 10vh;
    right: 2em;

    //Fjerner menuen når skærmen er str large
    @media (width > $large) {
        display: none;
    }

    //Fjerne x 
    .burgerMenuClose {
        display: none
    }

    //Placering og style af home 
    .burgerMenuHome {
        position: absolute;
        background-color: transparent;
        transition: .2s ease-in-out;
        height: 7vh;
        width: 3.5vw;
        color: white;


    }
}

//Størrelse af wrapper ved active
.burgerMenuActive {
    position: absolute;
    width: 4vw;
    height: 5vh;
    right: 2em;

    //Fjerne home icon
    .burgerMenuHome {
        display: none
    }

    //Placering og style af x 
    .burgerMenuClose {
        position: absolute;
        height: 7vh;
        width: 3.5vw;
        color: white;
        background-color: transparent;
        transition: .2s ease-in-out;
        z-index: 1;



    }
}

//Fjerner menuen når den ikke er active (|||)
.menu {
    display: none;
}

//Boksen der vises når burgermenu er active
.activeMenu {
    position: absolute;
    list-style: none;
    top: 5vh;
    width: 90%;
    padding: 1em;
    border: 1px solid #000;
    background-color: #000;

    .navigationLinks {
        text-decoration: none;
        color: #fff;
        font-size: 1em;
    }


}